body {
  background-color: rgb(225, 223, 255);
}

.App {
  text-align: center;
}

.game-card {
  padding: 0px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(12, 0, 65);
  display: flex;
}

.game-card-image img {
  height: 30vh;
  width: 30vh;
}

.game-card-body h2 {
  margin: 0;
}

.game-card-body {
  flex: 1;
  padding: 5px;
  color: rgb(228, 216, 216);
}