body {
  background-color: rgb(231, 231, 235);
}

.App {
  text-align: center;
}

.game-card {
  padding: 0px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(22, 18, 38);
  display: flex;
}

.game-card-image img {
  height: 30vh;
  width: 30vh;
}



.game-card-body {
  flex: 1;
  padding: 5px;
  color: rgb(228, 216, 216);
}

